*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'poppins', sans-serif;
}
body{
  overflow-x: hidden;
}
.containe{
  background: #fafdff;
  width: 100%;
  min-height: 100vh;
  transition: 4s ease;
}
.containe.dark{
  background-color: #222;
}